<p>employee1 works!</p>
<table border="2" class=table >
    <tr>
        <td colspan="3">
            <input  type="text"  width="10px" class="form-control"  placeholder="Search" [(ngModel)]="filteredString" >
        </td>
       
    </tr>
    <tr >
        <th  class="bg-primary text-white">
            EmployeeId
        </th>
        <th class="bg-primary text-white">
            EmployeeName
        </th >
        <th class="bg-primary text-white">
            EmployeeSalary
        </th>
    </tr>
    <tr appMycolor *ngFor="let employee of employees | search:filteredString " >

        <td class="bg-dark text-white">
               {{employee.empId}}
        </td>
        <td class="bg-dark text-white">
            {{employee.empName}}
     </td>
     <td class="bg-dark text-white">
        {{employee.salary}}
 </td>
    </tr>
</table>
{{errMsg | json}}